<p id="notice"><%= notice %></p>
<h1>File Details</h1>
<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>
<p>
  <strong>Medium ID:</strong>
  <%= @video.dvd_id %>
</p>

<%= link_to 'Edit File', edit_dvd_video_path(@dvd, @video) %><br>
<%= link_to 'Show All Files', dvd_videos_path %><br>


