<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>
<p>
  <strong>DVD ID:</strong>
  <%= @video.dvd_id %>
</p>

<%= link_to 'Edit Video', edit_video_path(@video) %><br>
<%= link_to 'Show All Videos', videos_path %><br>


