<p id="notice"><%= notice %></p>

<p>
  <strong>DVD ID:</strong>
  <%= @dvd.id %>
</p>

<p>
  <strong>Format:</strong>
  <%= @dvd.format %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= User.find(@dvd.user_id).name %>
</p>

<p>
  <strong>User ID:</strong>
  <%= @dvd.user_id %>
</p>

<%= link_to 'Add New Video', new_video_path(@dvd) %><br>
<%= link_to 'Edit DVD', edit_dvd_path(@dvd) %><br>
<%= link_to 'Show All DVDs', dvds_path %><br>


